* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #111238;
}

.header {
  background: #F2F3F6;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.menu-link {
  color: #111238;
  text-decoration: none;
}

.menu-link:hover {
  color: #1A75E8;
}

.menu-link:active {
  opacity: 0.4;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-link {
  padding: 10px;
  margin-right: 30px;
  color: #111238;
}

.button-link:hover {
  color: #1A75E8;
}

.button-primary {
  padding: 15px 30px;
  background: #1A75E8;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}

.button-primary:hover {
  box-shadow: 2px 4px 5px #6868689c;
}

.button-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.button-text {
  vertical-align: middle;
}

.hero-title {
  margin-top: 43px;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 44px;
}

.hero-text {
  margin-bottom: 30px;
  width: 460px;
  font-size: 18px;
  line-height: 25px;
}

.input {
  padding-left: 15px;
  flex-grow: 1;
  background-color: #fff;
  border: none;
  font-size: 16px;
  line-height: 19px;
}

.input:hover {
  border-bottom: 1px solid #111238;
}

.input:focus {
  outline: 1px dotted #666;
}

.input-group {
  margin-bottom: 25px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
}

.tags-group {
  padding-left: 15px;
  color: #B2B2B2;
  font-size: 14px;
  line-height: 17px;
}

.tag {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
  color: #B2B2B2;
  text-decoration: none;
}

.section {
  padding-top: 70px;
  padding-bottom: 80px;
}

.section-title {
  margin-bottom: 40px;
}

.card {
  padding: 35px;
  text-decoration: none;
  color: #111238;
  fill: #111238;
  background: #F2F3F6;
  border-radius: 10px;
  transition: 02s;
}

.card:hover {
  fill: #fff;
  color: #fff;
  background: #1A75E8;
  transition: 02s;
}

.card-icon {
  margin-bottom: 15px;
}

.offer {
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #C5C9D5;
  border-radius: 10px;
}

.offer-img {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid #F2F3F6;
  border-radius: 50%;
  background: #fff url(../img/logo-company.png) no-repeat center center/contain;
}

.offer-title {
  margin-right: 46px;
}

.offer-heading {
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 19px;
}

.offer-place {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.8;
}

.offer-salary {
  margin-right: 62px;
  padding: 10px 25px;
  background: #1A75E8;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 19px;
}

.offer-more {
  margin-left: auto;
  margin-right: 25px;
  font-size: 14px;
  line-height: 17px;
  color: #1A75E8;
  text-decoration: none;
}

.subscribe {
  background: #F2F3F6;
}

.subscribe-title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.subscribe-subtitle {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.footer {
  padding: 70px 0 100px 0;
}

.footer-description, .footer-copyright {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 17px;
  color: #B2B2B2;
}

.footer-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #111238;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-list-link {
  line-height: 19px;
  text-decoration: none;
  color: inherit;
}

.footer-list-link:hover {
  color: #1A75E8;
}
/*# sourceMappingURL=style.css.map */