* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px !important;
  line-height: 19px;
  color: #111238;
}

img {
  width: 100%;
  height: 100%;
}

.header, .hero {
  background: #F2F3F6;
}

.header-logo {
  display: inline-block;
  height: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #111238;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1A75E8;
}

.navbar-light .navbar-nav .nav-link:active {
  opacity: 0.4;
}

.navbar-light .navbar-toggler {
  color: #111238;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-link {
  padding: 10px;
  color: #111238;
}

.button-link:hover {
  color: #1A75E8;
}

.button-primary {
  padding: 15px 30px;
  background: #1A75E8;
  border-radius: 5px !important;
  font-size: 16px;
  color: #fff;
}

.button-primary:hover {
  color: #fff;
  -webkit-box-shadow: 2px 4px 5px #6868689c;
          box-shadow: 2px 4px 5px #6868689c;
}

.button-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 10px;
}

.button-text {
  vertical-align: middle;
}

.hero {
  padding-top: 168px;
  padding-bottom: 68px;
}

.hero-title {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 44px;
}

.hero-text {
  margin-bottom: 30px;
  max-width: 460px;
  font-size: 18px;
  line-height: 25px;
}

.input {
  padding-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 19px;
}

.input-group {
  margin-bottom: 25px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid rgba(209, 209, 209, 0.1);
  -webkit-box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
          box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
}

.input-group:hover {
  background-color: #a3dcf5a1;
}

.input-group:focus {
  outline: 1px dotted #666;
}

.tags-group {
  padding-left: 15px;
  color: #B2B2B2;
  font-size: 14px;
  line-height: 17px;
}

.tag {
  margin-left: 10px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
  color: #B2B2B2;
  text-decoration: none;
}

.section {
  padding-top: 70px;
  padding-bottom: 80px;
}

.section-title {
  margin-bottom: 40px;
}

.card {
  padding: 35px;
  text-decoration: none;
  color: #111238;
  fill: #111238;
  background: #F2F3F6;
  border-radius: 10px;
  -webkit-transition: 02s;
  transition: 02s;
}

.card:hover {
  fill: #fff;
  color: #fff;
  background: #1A75E8;
  -webkit-transition: 02s;
  transition: 02s;
}

.card-icon {
  margin-bottom: 15px;
}

.offer {
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #C5C9D5;
  border-radius: 10px;
}

.offer-img {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid #F2F3F6;
  border-radius: 50%;
  background: #fff url(../img/logo-company.png) no-repeat center center/contain;
}

.offer-title {
  margin-right: 46px;
}

.offer-heading {
  font-size: 16px !important;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 19px;
}

.offer-place {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.8;
}

.offer-salary {
  margin-right: 62px;
  padding: 10px 25px;
  background: #1A75E8;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 19px;
}

.offer-more {
  margin-left: auto;
  margin-right: 25px;
  font-size: 14px;
  line-height: 17px;
  color: #1A75E8;
  text-decoration: none;
}

.subscribe {
  background: #F2F3F6;
}

.subscribe-title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.subscribe-subtitle {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.footer {
  padding: 70px 0 100px 0;
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
  height: 30px;
}

.footer-description, .footer-copyright {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 17px;
  color: #B2B2B2;
}

.footer-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #111238;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-list-link {
  line-height: 19px;
  text-decoration: none;
  color: inherit;
}

.footer-list-link:hover {
  color: #1A75E8;
}

@media screen and (max-width: 1200px) {
  .offer-title {
    margin-right: 25px;
  }
  .offer-salary {
    margin-right: 20px;
  }
  .offer-more {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .header-logo {
    height: 21px;
  }
  .buttons-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .button-link {
    margin-right: 65%;
  }
  .tags-group {
    margin-bottom: 50px;
  }
  .offer-img {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .offer-title {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .offer-salary {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .offer-more {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .hero-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }
  .button-text {
    display: none;
  }
  .button-icon {
    margin-right: 0;
  }
  .input {
    padding-left: 0;
  }
  .input-group {
    margin-bottom: 20px;
  }
  .tags-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
  }
  .tags-label {
    margin-bottom: 15px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .subscribe-title {
    font-size: 24px;
    line-height: 29px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer {
    padding: 50px 0 44px 0;
  }
}
