*
  box-sizing: border-box
  margin: 0

body
  font-family: 'Fira Sans', sans-serif
  font-size: 16px
  color: #111238

.header
  background: #F2F3F6

.menu
  padding: 0
  margin: 0
  list-style: none

  &-item:not(:last-child)
    margin-right: 20px

  &-link
    color: #111238
    text-decoration: none
    &:hover
      color: #1A75E8
    &:active
      opacity: 0.4

.button
  display: inline-block
  text-decoration: none
  border: none
  cursor: pointer
  &-link
    padding: 10px
    margin-right: 30px
    color: #111238
    &:hover
      color: #1A75E8

  &-primary
    padding: 15px 30px
    background: #1A75E8
    border-radius: 5px
    font-size: 16px
    color: #fff
    &:hover
      box-shadow: 2px 4px 5px #6868689c
  &-icon
    vertical-align: middle
    margin-right: 10px
  &-text
    vertical-align: middle

.hero
  &-title
    margin-top: 43px
    margin-bottom: 15px
    font-weight: 900
    font-size: 44px

  &-text
    margin-bottom: 30px
    width: 460px
    font-size: 18px
    line-height: 25px

.input
  padding-left: 15px
  flex-grow: 1
  background-color: #fff
  border: none
  font-size: 16px
  line-height: 19px
  &:hover
    border-bottom: 1px solid #111238
  &:focus
    outline: 1px dotted #666

  &-group
    margin-bottom: 25px
    padding: 10px
    background: #FFFFFF
    border: 1px solid rgba(209, 209, 209, 0.1)
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1)
    border-radius: 5px

.tags-group
  padding-left: 15px
  color: #B2B2B2
  font-size: 14px
  line-height: 17px

.tag
  margin-left: 10px
  padding: 5px 10px
  border: 1px solid #B2B2B2
  border-radius: 5px
  color: #B2B2B2
  text-decoration: none

.section
  padding-top: 70px
  padding-bottom: 80px
  &-title
    margin-bottom: 40px

.card
  padding: 35px
  text-decoration: none
  color: #111238
  fill: #111238
  background: #F2F3F6
  border-radius: 10px
  transition: 02s
  &:hover
    fill: #fff
    color: #fff
    background: #1A75E8
    transition: 02s
  &-icon
    margin-bottom: 15px

.offer
  margin-bottom: 20px
  padding: 30px
  border: 1px solid #C5C9D5
  border-radius: 10px
  &-img
    margin-right: 20px
    width: 100px
    height: 100px
    border: 1px solid #F2F3F6
    border-radius: 50%
    background: #fff url(../img/logo-company.png) no-repeat center center / contain
  &-title
    margin-right: 46px
  &-heading
    margin-bottom: 10px
    font-weight: bold
    line-height: 19px
  &-place
    font-size: 14px
    line-height: 17px
    opacity: 0.8
  &-salary
    margin-right: 62px
    padding: 10px 25px
    background: #1A75E8
    border-radius: 5px
    color: #FFFFFF
    font-weight: bold
    line-height: 19px
  &-more
    margin-left: auto
    margin-right: 25px
    font-size: 14px
    line-height: 17px
    color: #1A75E8
    text-decoration: none
.subscribe
  background: #F2F3F6

  &-title
    margin-bottom: 20px
    font-weight: 900
    font-size: 36px
    line-height: 43px
    text-align: center
  &-subtitle
    margin-bottom: 40px
    font-size: 18px
    line-height: 25px
    text-align: center

.footer
  padding: 70px 0 100px 0
  &-description, &-copyright
    margin-bottom: 12px
    font-size: 12px
    line-height: 17px
    color: #B2B2B2
  &-title
    margin-bottom: 15px
    font-weight: bold
    font-size: 16px
    line-height: 19px
    color: #111238
  &-list
    list-style: none
    padding: 0
    &-item
      margin-bottom: 10px
    &-link
      line-height: 19px
      text-decoration: none
      color: inherit
      &:hover
        color: #1A75E8

/*# sourceMappingURL=style.css.map */
